# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build files / Transpiled files
client/build/
server/dist/

# Environment variables
.env
client/.env
server/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?